groovy/*

yumyai_jg/dist/*
yumyai_jg/out/*
yumyai_jg/.idea/workspace.xml

Gemfile.lock

data/poseest/*
data/args/*

data/mmd_chars/images/*
data/mmd_chars/processed/*
data/mmd_chars/raw/*
data/mmd_chars/selected/*
data/mmd_chars/html/node_modules/*
data/mmd_chars/html/bower_components/*
data/mmd_chars/html/chars_and_images.js
data/mmd_chars/split/*

data/mmd_backgrounds/*
data/mmd_examples/*

data/mmd_split/*